*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #333;
}
html{
    scroll-behavior: smooth;
    
}

body{
  //  width: 1680px;
    box-sizing: border-box;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-family: source-han-sans-japanese, sans-serif;
    line-height: 175%;
    letter-spacing: 1px;
}

header{
    width: 100%;
    display: flex;
    position: fixed;
    height: 48px;
    background-color: white;
    align-items: center;
    z-index: 300;

    nav{
        margin: 0;
        align-items: center;
        object-position: top;
        overflow: visible;
        z-index: 1000;
        flex: 1;
        display: flex;
        position: relative;
        .logo{
            flex: .54;
            display: flex;
            
            img{
                height: 20px;
                margin-left: 24px;
                margin-bottom: 13px;
                margin-top: 15px;
            }
            @media(max-width:1050px){
                flex: .30;
            }
          
            
        }
                   
        .burger{
            // display: none;
            flex-direction: column;
            position: relative;
            // display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            margin-left: auto;
            
          
           
        }
        

        #burger2{
            visibility: hidden;
            display: flex;
            margin-left: auto;
            margin-right: 24px;
            margin-top: -11px;
            // cursor: pointer;
            @media(max-width:992px){
                visibility: hidden;
              
                
            }   
            @media(max-width:412px){
                visibility: hidden;
                
            }  
            
           
        }
        label,label::after{
            // position: relative;
            height: 4.25px;
            width:26px;
            border-radius: 10px;
            background-color:#333;
            display: none;
            cursor: pointer;
           
            @media(max-width:786px){
              display: flex;
              
                
            } 
        }
        label::after{
           content: "";
            transform: translateY(8px);
            -webkit-transform: translateY(8px);
          
        }

        #burger2:checked + label::after{
            visibility: hidden;
            
        }
        #burger2:checked + label{
            transform: translateY(5px);
            -webkit-transform: translateY(5px);
           
        }
        
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            transition: ease 0.5s all;
            -webkit-transition: ease 0.5s all;
            display: flex;
             @media(max-width:1100px){
                 margin-left: auto;
            }
            @media(max-width:992px){
                margin-left: auto;
             
            }
            @media(max-width:786px){
                
                        opacity: 0;
                        max-height: 0px;
                        overflow: hidden;
                        visibility: none;
                        position: absolute;
                        display: flex;
                        left:0;right: 0;top: 100%;
                        flex-direction: column;
                        background-color: #eee; 
                        
                        // max-height: 100vh;      
                        // margin: 12px;   
                        text-align: center;
                         
                        &.active{
                            opacity: 1;
                            height: 100vh;
                            max-height: 100vh;
                            background-color: #eee;   
                                                        
                            // align-items: center; 
                                li{
                                    display: block;
                                   
                                    a{
                                        padding: 17.5px;
                                        display: block;
                                        border-bottom: 1px solid #ccc;  
                                        
                                    }
                                }
                            
                        }
            }
            
            li{
                display: block;
                letter-spacing: 1.5px;
                
                a{
                    display: block;
                    // padding: .8m 2em;
                    margin-bottom: 14px;
                    margin-top: 15px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    color: black;
                    text-transform: uppercase;
                    font-size: 15px;
                    
                    &:hover{
                        color:#00AACC;
                        
                    }
                    &:active{
                        transition: .5s;
                       
                    }
                    
                }
                &.active{
                    
                    a{
                        color: peru;
                        
                    }
                }
            }
        }
        
        
    }
    
}

.image--up {
    object-position: 50%  120%;
  }

.herobanner{
    // @media(max-width:320px){
    //   .carousel{
    //       visibility: hidden;
    //   }      
    // } 
    
    .slide_lg{
        // @media(max-width:1000px){
        //     display: none;
        // }
        @media(max-width:480px){
            display: none;
        }
        .carousel{
            
            // position: relative;
            .carousel-indicators li {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #333;
            }
            .carousel-indicators {
                bottom: -50px;
                color: #333;
                opacity: 0.25;
            }
            padding-top: 48px;
            .carousel-inner{
                .carousel-item{
                    max-height: 80vh;
                }
                
            }
           
        }
    }  

    // .slide_lm{
    //     display: none;
    //     @media(max-width:1000px){
    //         display: flex;
    //     }
    //     @media(max-width:480px){
    //         display: none;
    //     }
    //     .carousel{
    //         // height: 60vh;
    //         // position: relative;
    //         .carousel-indicators li {
    //             width: 10px;
    //             height: 10px;
    //             border-radius: 100%;
    //             background-color: #333;
    //         }
    //         .carousel-indicators {
    //             bottom: -50px;
    //         }
    //         padding-top: 50px;
           
    //     }
    // }
    .slide_ls{
        display: none;
        @media(max-width:480px){
            display: flex;
        }
        .carousel{
            // height: 60vh;
            // position: relative;
            .carousel-indicators li {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #333;
            }
            .carousel-indicators {
                bottom: -50px;
                color: #333;
                opacity: 0.25;
            }
            padding-top: 48px;
        }
    }
    
    
    // .slider{
    //     width: 100%;
        
            
    //     // background-size: cover;
    //     // background-position: center;
    //     // background-image: url(/image/slider1.png);
    //     // background-repeat: no-repeat;
             
    //     .slide{
    //     //    text-align: center;
    //        width: 100vw;
    //        height: 100vh;
    //         // color: #333333;
           
    //     //    p{
    //     //        padding: 100px;
    //     //        font-size: 30px;
    //     //        font-weight: 900;
    //     //        @media(max-width:375px){
    //     //         font-size: 15px;
    //     //         padding: 80px;
    //     //     }                
    //     //    }
    //     }
    // }
}

.btn-container{
    .container{
        margin-top: 34px;
        text-align: center;  
              
        .innercontainer{
            @media(max-width:480px){
               
                padding-left: 10px;
                padding-right: 10px;
                
                
            } 
            h1{
              padding-top: 24px;
              font-size: 18px;
              font-weight: 700;
              letter-spacing: 1px;
              @media(max-width:375px){
                font-size: 13px;
            }    
            }
            a{
                margin-top: 18px;
                display: inline-block;
                width: 250px;
                
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                padding: 10px;
                color: #fff;
                background-color: #CC0000;
                background-repeat: no-repeat;
                letter-spacing: 1px;
                border-radius: 50px;
                
                .btn{
                    
                    display: inline-block;
                    
                    font-size: 18px;
                    margin-bottom: 90px;
                }
            }           

        }
    }
}

.about-container{
    
    background-color: #DDDDDD;
    width: 100%;
    
    .container{
        width: 900px;
        margin-top: 90px;
        @media(max-width:991px){
            width: 100%;
                
        }
        @media(max-width:992px){
       
            padding-left: 20px;
            padding-right: 20px;
            
            
        }
        @media(max-width:480px){
       
            padding-left: 30px;
            padding-right: 30px;
            
            
        }  
       
        .innercontainer{
            width: 100%;
            padding-top: 50px;

            .spacer{
                margin: 2.5px;
            }
            
            .row{
                width: 900px;
                text-align: center;
                display: flex;
                margin: 2.5px;
                @media(max-width:991px){
                    width: 100%;
                    

                }  
                @media(max-width:480px){
                    padding-left: 10px;
                    padding-right: 10px;
                }  
               
                .box{
                    
                    flex: 1;
                    padding-top: 5px;
                    padding-bottom: 5px;
                                      
                    
                    @media(max-width:541px){
                        flex: 100%;
                    }      
                    .Btext{
                        color: white;
                        font-weight: bold;
                        font-size: 15px;
                        @media(max-width:991px){
                            font-size: 13px;
                            
                         }
                         @media(max-width:767px){
                            line-height: 150%;
                            
                         }
                    }
                    .Stext{
                     color: white;
                     font-weight: bold;
                     font-size: 10px;
                     @media(max-width:767px){
                        line-height: 150%;
                        
                     }
                 }
                }
            }
                                       
               
            
            h4{
                padding-top: 50px;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                @media(max-width:991px){
                    padding-bottom: 10px;
                }
            }
            .textcontainer{
                width: 900px;
                font-size: 0.95rem;
                letter-spacing: 1px;
                text-align: justify;
               
                @media(max-width:991px){
                    width: 100%;
                    font-size: 13px;

                }
            }
        }
    }

}

.how-container{
    background-color: #DDDDDD;
    width: 100%;
    padding-top: 50px;
    .container{
        @media(max-width:992px){
       
            padding-left: 20px;
            padding-right: 20px;
            
            
        } 
        @media(max-width:480px){
       
            padding-left: 30px;
            padding-right: 30px;
            
            
        }  
        .spacer{
            margin-top: 20px;
        }
        width: 900px;
        @media(max-width:991px){
            width: 100%;
                
        }
        .row{
            @media(max-width:992px){
       
                padding-left: 20px;
                padding-right: 20px;
                
                
            } 
            @media(max-width:480px){
       
                padding-left: 30px;
                padding-right: 30px;
                
                
            }  
        }
        
        h4{
            padding-top: 50px;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            @media(max-width:991px){
                padding-bottom: 10px;
              }
        }
        // margin-top: 90px;
        .innercontainer{
            width: 900px;
           display: flex;
           padding-top: 22px;
           @media(max-width:991px){
            width: 100%;
            display: grid;
       
            
        }
        

            .image{
                flex: 1;
                padding-right: 30px;
                @media(max-width:991px){
                    width: 100%;
                    padding-right: 0px;
                }
            }
            .textcontainer{
                flex: 1;
                font-size: 14px;
                letter-spacing: 1px;
                text-align: justify;
                strong{
                    font-size: 16px;                        
                }
                @media(max-width:991px){
                    padding-top: 10px;
                    padding-bottom: 20px;
                    width: 100%;
                    font-size: 13px;
                    strong{
                        font-size: 16px;                        
                    }
                }
            }

        }
    }
}

.product-container{
    background-color: #DDDDDD;
    width: 100%;
    padding-top: 50px;
    .container{
        @media(max-width:992px){
       
            padding-left: 20px;
            padding-right: 20px;
            
        } 
        @media(max-width:480px){
       
            padding-left: 30px;
            padding-right: 30px;
            
            
        }  
        width: 900px;
        .spacer{
            margin-top: 20px;
        }
        @media(max-width:991px){
            width: 100%;
                
        }
        .btncontainer{
            padding-top: 50px;
            
            text-align: center;  
            a{
                margin-top: 30px; 
                display: inline-block;
                width: 250px;
                
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                padding: 10px;
                color: #fff;
                background-color: #CC0000;
                background-repeat: no-repeat;
                letter-spacing: 1px;
                border-radius: 50px;
                
                .btn{
                    display: inline-block;
                    font-size: 18px;
                    margin-bottom: 90px;
                }
            }     
        }
        h4{
            padding-top: 50px;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            @media(max-width:991px){
                padding-bottom: 10px;
              }
              
        }
        // margin-top: 90px;
        .innercontainer{
            
         width: 900px;
           display: flex;
           padding-top: 22px;
           @media(max-width:991px){
            width: 100%;
            display: grid;
       
            
        }
            .image{
                flex: 1;
                padding-right: 30px;
                @media(max-width:991px){
                    width: 100%;
                    padding-right: 0px;
                }
            }
            .textcontainer{
                flex: 1;
                font-size: 14px;
                letter-spacing: 1px;
                text-align: justify;
                strong{
                    font-size: 16px;                        
                }
                @media(max-width:991px){
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 13px;
                    strong{
                        font-size: 16px;                        
                    }
                }
            }
            
        }
        
        .spacer2{
            padding-top: 60px;
            border-bottom: 1px solid #707070;   
        }
        
    }

   
    
}

.product-container2{
    padding-top: 60px;
    background-color: #DDDDDD;
    width: 100%;
    .container{
        width: 900px;
        @media(max-width:991px){
            width: 100%;
                
        }
        @media(max-width:480px){
       
            padding-left: 30px;
            padding-right: 30px;
            
            
        }  
        .btncontainer{
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;  
            a{
                margin-top: 30px; 
                display: inline-block;
                width: 250px;
                
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                padding: 10px;
                color: #fff;
                background-color: #CC0000;
                background-repeat: no-repeat;
                letter-spacing: 1px;
                border-radius: 50px;
                
                .btn{
                    display: inline-block;
                    font-size: 18px;
                    margin-bottom: 90px;
                }
            }     
        }
        h5{
            padding-top: 50px;
            padding-bottom: 20px;
            font-family: source-han-sans-japanese, sans-serif;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            @media(max-width:991px){
                font-size: 20px;
              }
              
        }
        // margin-top: 90px;
        .innercontainer{
            
           width: 900px;
           display: flex;
           padding: 25px;
           background-color: #fff;
           margin-bottom: 28px;
           @media(max-width:991px){
            width: 100%;
            
        }
           @media(max-width:800px){
                width: 100%;
                display: grid;
                
            }
            .image{
                flex: .40;
                padding-right: 30px;
                padding-bottom: 25px;
                // @media(max-width:991px){
                //     // width: 80%;
                //     // display: grid;
                // }
                @media(max-width:800px){
                    width: 80%;
                    justify-self: center;
                }
                // @media(max-width:768px){
                //     margin-left: 70px;
                // }
                // @media(max-width:550px){
                //     margin-left: 50px;
                // }
                // @media(max-width:484px){
                //     margin-left: 20px;
                // }
                
                // @media(max-width:420px){
                //     margin-left: 40px;
                // }
                @media(max-width:375px){
                    margin-left: 30px;
                }
            }
            .textcontainer{
                flex: .60;
                line-height: 30px;
                .spacer2{
                    margin-bottom: 20px;
                    border-bottom: 1px solid #707070;   
                    
                }
                @media(max-width:375px){
                    
                }
                // @media(max-width:991px){
                //     padding-top: 10px;
                //     width: 100%;
                // }
                // @media(max-width:800px){
                //     margin-left: 100px;
                // }
                // @media(max-width:768px){
                //     margin-left: 70px;
                // }
                // @media(max-width:550px){
                //     margin-left: 50px;
                // }
                // @media(max-width:484px){
                //     margin-left: 20px;
                // }
                // @media(max-width:420px){
                //     margin-left: 10px;
                // }
                // @media(max-width:375px){
                //     margin-left: 0px;
                // }
                strong{
                    font-size: 18px;
                    letter-spacing: 1px;
                }
                p{
                    font-size: 13px;
                    letter-spacing: 1px;
                }
            }
            
        }
        
        .spacer{
            padding-top: 62px;
              
        }
        
    }

   
    
}

.payment-container{
    padding-top: 70px;
    background-color: #EEEEEE;
    width: 100%;
    .container{
        
        width: 900px;
        @media(max-width:991px){
            width: 100%;
                
        }
        
        .innercontainer{
            @media(max-width:992px){
       
                padding-left: 20px;
                padding-right: 20px;
                
                
            } 
            // width: 900px;
            line-height: 30px;
            
            h4{
                padding-top: 50px;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 32px;
                letter-spacing: 1px;
                @media(max-width:991px){
                  padding-bottom: 10px;
                }
            }
            .image{
                width: 529px;
                padding-bottom: 30px;
                @media(max-width:991px){
                    width: 80%;
                    // display: grid;
                             
                }
            }
            .comment-top{
                width: 900px;
                letter-spacing: 1px;
                text-align: justify;
                @media(max-width:991px){
                    width: 100%;
                    font-size: 15px;
                    
                }
                margin-bottom: 10px;
                strong{
                 font-size: 16px;
                 @media(max-width:991px){
                    font-size: 15px;
                 }
                }
                span{
                 font-size: 13px;
                 @media(max-width:991px){
                    font-size: 12px;
                    
                }
                     
                 }
             }
            .comment{
                width: 900px;
                letter-spacing: 1px;
                text-align: justify;
                 @media(max-width:991px){
                    width: 100%;
                           
                   }
               margin-bottom: 60px;
                strong{
                font-size: 16px;
                @media(max-width:991px){
                 font-size: 15px;
                        
                }
             }
                span{
                font-size: 13px;
                @media(max-width:991px){
                    font-size: 12px;
                           
                   }
                    
                }
            }
                        
               
        }
        .spacer{
            // padding-top: 62px;
            border-bottom: 1px solid #707070; 
        }
    }
}


.socialmedia{
    width: 100%;
    background-color: #EEEEEE;
    .container{
        width: 900px;
        padding-top: 124px;
        padding-bottom: 124px;
        @media(max-width:991px){
            width: 100%;
                   
           }
        
        .socialmedia-container{
            display: flex;
            justify-content: center;
            width: 900px;
            @media(max-width:991px){
                width:100%;
             //   display: grid;
            }
                       .socialicon{
                        padding-left: 25px;
                        flex: .05;
                       }            
            
        }
    }
    
}


footer{
    width: 100%;
    
    .container{
        width: 800px;
        padding-top: 19px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        
        display: flex;
        letter-spacing: 1px;
        text-align: center;
        justify-content: center;
        font-family: source-han-sans-japanese, sans-serif;
        font-size: 13px;
        font-weight: bold;
        
        @media(max-width:767px){
            width: 100%;
            font-size: 11px;
        }

        @media(max-width:700px){
            width: 100%;
            font-size: 13px;
            display: grid;
            line-height: 50px;
            .listspacer{
                display: none;
            }
           
        }
       
        .list{
            justify-content: center;
            // flex: 1;
            // padding-bottom: 5px;
            a{
                color: #333;
                text-decoration: none;
                
            }
        }   
        
    }
    .Copyright{
        font-family: source-han-sans-japanese, sans-serif;
        font-size: 13px;
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
    }
        
}


.transactionlaw-container{
    padding-top: 128px;
    background-color: #EEEEEE;
    width: 100%;
    .container{
        width: 700px;
        padding-bottom: 200px;
        @media(max-width:991px){
            width: 100%;                
        }

        h4{
            font-family: source-han-sans-japanese, sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 91px;
            letter-spacing: 1px;
            @media(max-width:991px){
              padding-bottom: 91px;
            }
        }
        .innercontainer{
            // width: 900px;
            line-height: 30px;
            
           
            .textcontainer{
                width: 640px;
                font-size: 13px;
                letter-spacing: 1px;
                text-align: justify;
                @media(max-width:991px){
                    width: 100%;
                    
                    
                }
                margin-bottom: 10px;
                strong{
                 font-size: 13px;
                 @media(max-width:991px){
                    font-size: 12px;
                 }
                }
                span{
                height: 2px;
                width: 640px;
                margin: 2px;
                background-color: #333;
                
                    
                }
                     
                 
             }
             .spacer{
                margin: 10px 0  10px 0;
                border-bottom: 1px solid #707070; 
            }                    
               
        }
        
    }

}

.termofservice-container{
    padding-top: 128px;
    background-color: #EEEEEE;
    width: 100%;
    .container{
        width: 700px;
        padding-bottom: 200px;
        @media(max-width:991px){
            width: 100%;                
        }

        h4{
            font-family: source-han-sans-japanese, sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 50px;
            letter-spacing: 1px;
            @media(max-width:991px){
              padding-bottom: 50px;
            }
        }
        .innercontainer{
            // width: 900px;
            line-height: 25px;
            
           
            .textcontainer{
                width: 640px;
                letter-spacing: 1px;
                text-align: justify;
                // font-size: 13px;
                margin-bottom: 10px;
                @media(max-width:991px){
                    width: 100%;
                    
                }
                
                strong{
                 font-size: 18px;
                 @media(max-width:991px){
                    font-size: 12px;
                 }
                }
                span{
                width: 640px;
                // margin: 2px;
                font-size: 13px;
                     
                }
                     
                 
             }
                            
               
        }
        
    }

}