* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
  font-family: source-han-sans-japanese, sans-serif;
  line-height: 175%;
  letter-spacing: 1px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 48px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
}

header nav {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-position: top;
     object-position: top;
  overflow: visible;
  z-index: 1000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header nav .logo {
  -webkit-box-flex: .54;
      -ms-flex: .54;
          flex: .54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .logo img {
  height: 20px;
  margin-left: 24px;
  margin-bottom: 13px;
  margin-top: 15px;
}

@media (max-width: 1050px) {
  header nav .logo {
    -webkit-box-flex: .30;
        -ms-flex: .30;
            flex: .30;
  }
}

header nav .burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  margin-left: auto;
}

header nav #burger2 {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 24px;
  margin-top: -11px;
}

@media (max-width: 992px) {
  header nav #burger2 {
    visibility: hidden;
  }
}

@media (max-width: 412px) {
  header nav #burger2 {
    visibility: hidden;
  }
}

header nav label, header nav label::after {
  height: 4.25px;
  width: 26px;
  border-radius: 10px;
  background-color: #333;
  display: none;
  cursor: pointer;
}

@media (max-width: 786px) {
  header nav label, header nav label::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav label::after {
  content: "";
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
}

header nav #burger2:checked + label::after {
  visibility: hidden;
}

header nav #burger2:checked + label {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  header nav ul {
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  header nav ul {
    margin-left: auto;
  }
}

@media (max-width: 786px) {
  header nav ul {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: none;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #eee;
    text-align: center;
  }
  header nav ul.active {
    opacity: 1;
    height: 100vh;
    max-height: 100vh;
    background-color: #eee;
  }
  header nav ul.active li {
    display: block;
  }
  header nav ul.active li a {
    padding: 17.5px;
    display: block;
    border-bottom: 1px solid #ccc;
  }
}

header nav ul li {
  display: block;
  letter-spacing: 1.5px;
}

header nav ul li a {
  display: block;
  margin-bottom: 14px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}

header nav ul li a:hover {
  color: #00AACC;
}

header nav ul li a:active {
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li.active a {
  color: peru;
}

.image--up {
  -o-object-position: 50%  120%;
     object-position: 50%  120%;
}

@media (max-width: 480px) {
  .herobanner .slide_lg {
    display: none;
  }
}

.herobanner .slide_lg .carousel {
  padding-top: 48px;
}

.herobanner .slide_lg .carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #333;
}

.herobanner .slide_lg .carousel .carousel-indicators {
  bottom: -50px;
  color: #333;
  opacity: 0.25;
}

.herobanner .slide_lg .carousel .carousel-inner .carousel-item {
  max-height: 80vh;
}

.herobanner .slide_ls {
  display: none;
}

@media (max-width: 480px) {
  .herobanner .slide_ls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.herobanner .slide_ls .carousel {
  padding-top: 48px;
}

.herobanner .slide_ls .carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #333;
}

.herobanner .slide_ls .carousel .carousel-indicators {
  bottom: -50px;
  color: #333;
  opacity: 0.25;
}

.btn-container .container {
  margin-top: 34px;
  text-align: center;
}

@media (max-width: 480px) {
  .btn-container .container .innercontainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn-container .container .innercontainer h1 {
  padding-top: 24px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (max-width: 375px) {
  .btn-container .container .innercontainer h1 {
    font-size: 13px;
  }
}

.btn-container .container .innercontainer a {
  margin-top: 18px;
  display: inline-block;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  background-color: #CC0000;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  border-radius: 50px;
}

.btn-container .container .innercontainer a .btn {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 90px;
}

.about-container {
  background-color: #DDDDDD;
  width: 100%;
}

.about-container .container {
  width: 900px;
  margin-top: 90px;
}

@media (max-width: 991px) {
  .about-container .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .about-container .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .about-container .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.about-container .container .innercontainer {
  width: 100%;
  padding-top: 50px;
}

.about-container .container .innercontainer .spacer {
  margin: 2.5px;
}

.about-container .container .innercontainer .row {
  width: 900px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5px;
}

@media (max-width: 991px) {
  .about-container .container .innercontainer .row {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .about-container .container .innercontainer .row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about-container .container .innercontainer .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 541px) {
  .about-container .container .innercontainer .row .box {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.about-container .container .innercontainer .row .box .Btext {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-container .container .innercontainer .row .box .Btext {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .about-container .container .innercontainer .row .box .Btext {
    line-height: 150%;
  }
}

.about-container .container .innercontainer .row .box .Stext {
  color: white;
  font-weight: bold;
  font-size: 10px;
}

@media (max-width: 767px) {
  .about-container .container .innercontainer .row .box .Stext {
    line-height: 150%;
  }
}

.about-container .container .innercontainer h4 {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .about-container .container .innercontainer h4 {
    padding-bottom: 10px;
  }
}

.about-container .container .innercontainer .textcontainer {
  width: 900px;
  font-size: 0.95rem;
  letter-spacing: 1px;
  text-align: justify;
}

@media (max-width: 991px) {
  .about-container .container .innercontainer .textcontainer {
    width: 100%;
    font-size: 13px;
  }
}

.how-container {
  background-color: #DDDDDD;
  width: 100%;
  padding-top: 50px;
}

.how-container .container {
  width: 900px;
}

@media (max-width: 992px) {
  .how-container .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .how-container .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.how-container .container .spacer {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .how-container .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .how-container .container .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .how-container .container .row {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.how-container .container h4 {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .how-container .container h4 {
    padding-bottom: 10px;
  }
}

.how-container .container .innercontainer {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22px;
}

@media (max-width: 991px) {
  .how-container .container .innercontainer {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}

.how-container .container .innercontainer .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 30px;
}

@media (max-width: 991px) {
  .how-container .container .innercontainer .image {
    width: 100%;
    padding-right: 0px;
  }
}

.how-container .container .innercontainer .textcontainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
}

.how-container .container .innercontainer .textcontainer strong {
  font-size: 16px;
}

@media (max-width: 991px) {
  .how-container .container .innercontainer .textcontainer {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 13px;
  }
  .how-container .container .innercontainer .textcontainer strong {
    font-size: 16px;
  }
}

.product-container {
  background-color: #DDDDDD;
  width: 100%;
  padding-top: 50px;
}

.product-container .container {
  width: 900px;
}

@media (max-width: 992px) {
  .product-container .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .product-container .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.product-container .container .spacer {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .product-container .container {
    width: 100%;
  }
}

.product-container .container .btncontainer {
  padding-top: 50px;
  text-align: center;
}

.product-container .container .btncontainer a {
  margin-top: 30px;
  display: inline-block;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  background-color: #CC0000;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  border-radius: 50px;
}

.product-container .container .btncontainer a .btn {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 90px;
}

.product-container .container h4 {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .product-container .container h4 {
    padding-bottom: 10px;
  }
}

.product-container .container .innercontainer {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22px;
}

@media (max-width: 991px) {
  .product-container .container .innercontainer {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}

.product-container .container .innercontainer .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 30px;
}

@media (max-width: 991px) {
  .product-container .container .innercontainer .image {
    width: 100%;
    padding-right: 0px;
  }
}

.product-container .container .innercontainer .textcontainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
}

.product-container .container .innercontainer .textcontainer strong {
  font-size: 16px;
}

@media (max-width: 991px) {
  .product-container .container .innercontainer .textcontainer {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 13px;
  }
  .product-container .container .innercontainer .textcontainer strong {
    font-size: 16px;
  }
}

.product-container .container .spacer2 {
  padding-top: 60px;
  border-bottom: 1px solid #707070;
}

.product-container2 {
  padding-top: 60px;
  background-color: #DDDDDD;
  width: 100%;
}

.product-container2 .container {
  width: 900px;
}

@media (max-width: 991px) {
  .product-container2 .container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-container2 .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.product-container2 .container .btncontainer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.product-container2 .container .btncontainer a {
  margin-top: 30px;
  display: inline-block;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  background-color: #CC0000;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  border-radius: 50px;
}

.product-container2 .container .btncontainer a .btn {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 90px;
}

.product-container2 .container h5 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: source-han-sans-japanese, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .product-container2 .container h5 {
    font-size: 20px;
  }
}

.product-container2 .container .innercontainer {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  background-color: #fff;
  margin-bottom: 28px;
}

@media (max-width: 991px) {
  .product-container2 .container .innercontainer {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .product-container2 .container .innercontainer {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}

.product-container2 .container .innercontainer .image {
  -webkit-box-flex: .40;
      -ms-flex: .40;
          flex: .40;
  padding-right: 30px;
  padding-bottom: 25px;
}

@media (max-width: 800px) {
  .product-container2 .container .innercontainer .image {
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 375px) {
  .product-container2 .container .innercontainer .image {
    margin-left: 30px;
  }
}

.product-container2 .container .innercontainer .textcontainer {
  -webkit-box-flex: .60;
      -ms-flex: .60;
          flex: .60;
  line-height: 30px;
}

.product-container2 .container .innercontainer .textcontainer .spacer2 {
  margin-bottom: 20px;
  border-bottom: 1px solid #707070;
}

.product-container2 .container .innercontainer .textcontainer strong {
  font-size: 18px;
  letter-spacing: 1px;
}

.product-container2 .container .innercontainer .textcontainer p {
  font-size: 13px;
  letter-spacing: 1px;
}

.product-container2 .container .spacer {
  padding-top: 62px;
}

.payment-container {
  padding-top: 70px;
  background-color: #EEEEEE;
  width: 100%;
}

.payment-container .container {
  width: 900px;
}

@media (max-width: 991px) {
  .payment-container .container {
    width: 100%;
  }
}

.payment-container .container .innercontainer {
  line-height: 30px;
}

@media (max-width: 992px) {
  .payment-container .container .innercontainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.payment-container .container .innercontainer h4 {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 32px;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer h4 {
    padding-bottom: 10px;
  }
}

.payment-container .container .innercontainer .image {
  width: 529px;
  padding-bottom: 30px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .image {
    width: 80%;
  }
}

.payment-container .container .innercontainer .comment-top {
  width: 900px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .comment-top {
    width: 100%;
    font-size: 15px;
  }
}

.payment-container .container .innercontainer .comment-top strong {
  font-size: 16px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .comment-top strong {
    font-size: 15px;
  }
}

.payment-container .container .innercontainer .comment-top span {
  font-size: 13px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .comment-top span {
    font-size: 12px;
  }
}

.payment-container .container .innercontainer .comment {
  width: 900px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .comment {
    width: 100%;
  }
}

.payment-container .container .innercontainer .comment strong {
  font-size: 16px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .comment strong {
    font-size: 15px;
  }
}

.payment-container .container .innercontainer .comment span {
  font-size: 13px;
}

@media (max-width: 991px) {
  .payment-container .container .innercontainer .comment span {
    font-size: 12px;
  }
}

.payment-container .container .spacer {
  border-bottom: 1px solid #707070;
}

.socialmedia {
  width: 100%;
  background-color: #EEEEEE;
}

.socialmedia .container {
  width: 900px;
  padding-top: 124px;
  padding-bottom: 124px;
}

@media (max-width: 991px) {
  .socialmedia .container {
    width: 100%;
  }
}

.socialmedia .container .socialmedia-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 900px;
}

@media (max-width: 991px) {
  .socialmedia .container .socialmedia-container {
    width: 100%;
  }
}

.socialmedia .container .socialmedia-container .socialicon {
  padding-left: 25px;
  -webkit-box-flex: .05;
      -ms-flex: .05;
          flex: .05;
}

footer {
  width: 100%;
}

footer .container {
  width: 800px;
  padding-top: 19px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: source-han-sans-japanese, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 767px) {
  footer .container {
    width: 100%;
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  footer .container {
    width: 100%;
    font-size: 13px;
    display: -ms-grid;
    display: grid;
    line-height: 50px;
  }
  footer .container .listspacer {
    display: none;
  }
}

footer .container .list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .list a {
  color: #333;
  text-decoration: none;
}

footer .Copyright {
  font-family: source-han-sans-japanese, sans-serif;
  font-size: 13px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.transactionlaw-container {
  padding-top: 128px;
  background-color: #EEEEEE;
  width: 100%;
}

.transactionlaw-container .container {
  width: 700px;
  padding-bottom: 200px;
}

@media (max-width: 991px) {
  .transactionlaw-container .container {
    width: 100%;
  }
}

.transactionlaw-container .container h4 {
  font-family: source-han-sans-japanese, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 91px;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .transactionlaw-container .container h4 {
    padding-bottom: 91px;
  }
}

.transactionlaw-container .container .innercontainer {
  line-height: 30px;
}

.transactionlaw-container .container .innercontainer .textcontainer {
  width: 640px;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .transactionlaw-container .container .innercontainer .textcontainer {
    width: 100%;
  }
}

.transactionlaw-container .container .innercontainer .textcontainer strong {
  font-size: 13px;
}

@media (max-width: 991px) {
  .transactionlaw-container .container .innercontainer .textcontainer strong {
    font-size: 12px;
  }
}

.transactionlaw-container .container .innercontainer .textcontainer span {
  height: 2px;
  width: 640px;
  margin: 2px;
  background-color: #333;
}

.transactionlaw-container .container .innercontainer .spacer {
  margin: 10px 0  10px 0;
  border-bottom: 1px solid #707070;
}

.termofservice-container {
  padding-top: 128px;
  background-color: #EEEEEE;
  width: 100%;
}

.termofservice-container .container {
  width: 700px;
  padding-bottom: 200px;
}

@media (max-width: 991px) {
  .termofservice-container .container {
    width: 100%;
  }
}

.termofservice-container .container h4 {
  font-family: source-han-sans-japanese, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 50px;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .termofservice-container .container h4 {
    padding-bottom: 50px;
  }
}

.termofservice-container .container .innercontainer {
  line-height: 25px;
}

.termofservice-container .container .innercontainer .textcontainer {
  width: 640px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .termofservice-container .container .innercontainer .textcontainer {
    width: 100%;
  }
}

.termofservice-container .container .innercontainer .textcontainer strong {
  font-size: 18px;
}

@media (max-width: 991px) {
  .termofservice-container .container .innercontainer .textcontainer strong {
    font-size: 12px;
  }
}

.termofservice-container .container .innercontainer .textcontainer span {
  width: 640px;
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */