#content_wrapper{
   display: block;
   column-gap: 8em;
   font:inherit;
}


.newsyear{
    font-size:.8em;
    list-style: none;
    color: #444;
}
.newsyear ul{
    list-style: none;
}

.newsyear a{
   font:inherit;
   color: #444;
   line-height: 2em;
   text-decoration: none;
}


.content_newsarea {
    width: 900px;
}


.content_newsarea div.box {
    width: 900px;
	padding: 10px 0;
	border-bottom: 1px solid #969696;
}


.content_newsarea div.box p {
	display: table-cell;
	vertical-align: middle;
}


.content_newsarea div.box p.tag {
    width: 20%;
	font-size: .7em;
	color: #444;
    
}


.content_newsarea div.box p.tag span {
	padding: 1px 3px 0 3px;
	text-align: center;
	
}


.content_newsarea div.box p.tag span.new {
	display: block;
	border: none;
	width: 44px;
	padding: 1px 3px 0 3px;
	text-align: center;
	background-color: #212121; 
    color: white;
}


.content_newsarea div.box p.date {
    font-size: .8em;
	width: 120px;
}


.content_newsarea div.box p.tx {
	width: 405px;
	padding-right: 5px;
}


.content_newsarea div.box p.tx_long {
  	width: 540px;
}

.content_newsarea div.box p.tx_long a{
    font-size: .8em;
    text-decoration: none;
    color: #444;
}
.content_newsarea div.box p.tx_long a:hover{
    font-size: .8em;
    text-decoration: none;
    color: rgb(36, 35, 35);
    
}

.content_newsarea div.box p.img {
	width: 130px;
	text-align: center;
}



@media screen and (max-width: 786px) {
     .newsyear ul{
        display: flex;
        flex-direction: column;
        
     }
    
}

@media screen and (max-width: 414px) {
    
}