
body{
  margin: 0;
  padding: 0;
}

html, body, .viewport {
  width: 100%;
  height: 100%; 
  margin: 0;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#flex-item {
 text-align: center;
  margin: auto;
  width: 100%;
  margin:auto;
  padding-top: 200px;
  overflow:hidden;
  text-align: center;
  font-size: 40px;
  line-height:1.2em;
  color: #69bd45
}




.header {
  min-height: 100vh;
  width: 100%;
  background:url('../img/banner.png') no-repeat 0;
  background-position: center;
  background-size: cover;
}

.logosec{
  display: flex;
  text-align: center;
}

.logosec p{
padding-top: 20px;
color: #FFF;
}

.logosecw{
  display: flex;
  text-align: center;
}

.logosecw p{
  padding-top: 20px;
  color: #000;
  }
  


.datetime{
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  padding-top: 50px;
  padding-right: 50px;

}

.date{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  color: #FFF;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
    color: #fff;
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
    color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
}
.container{
  width: 100%;
  margin:auto;
  padding-top: 200px;
  overflow:hidden;
  text-align: center;
  font-size: 40px;
  line-height:1.2em;
  color: #69bd45
}

.header2 {
  min-height: 100vh;
  width: 100%;
  background:url('../img/banner2.png') no-repeat 0;
  background-position: center;
  background-size: cover;
}

.container2{
  width: 100%;
  margin:auto;
  padding-top: 150px;
  overflow:hidden;
  text-align: center;
  font-size: 20px;
  line-height:1.2em;
  color: #69bd45
}

.header3 {
  min-height: 100vh;
  width: 100%;
  background:url('../img/banner3.png') no-repeat 0;
  background-position: center;
  background-size: cover;
}

.container3{
  width: 50%;
  margin:auto;
  overflow:hidden;
  text-align: left;
  font-size: 20px;
  line-height:.5em;
  color: black;
}

.header4 {
  width: 100%;
  height: 1080px;
  background:url('../img/banner4.png') no-repeat 0;
  background-position: center;
  background-size:auto;

}

.entwrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("img/bg.png");
  background-color: #000; */
}

.spacer{
    padding-top: 493px;
}

.innerwrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
  grid-gap: 0px;
}

.divspace{
  padding-right: 29px;
}
.card {
  /* width: 130px;
  height: 195px; */
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}

.header5 {
  min-height: 100vh;
  width: 100%;
  background:url('../img/banner5.png') no-repeat 0;
  background-position: center;
  background-size: cover;
}

.container5{
  width: 100%;
  margin:auto;
  padding-top: 150px;
  overflow:hidden;
  text-align: center;
  font-size: 20px;
  line-height:1.2em;
  color: #69bd45
}

iframe{
  border: 3px;
  color: #69BD45;
}





.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
  position: fixed;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  position: fixed;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}
